body {
    font-family: sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.container {
    display: flex;
    gap: 40px;
    width: 90%;
    max-width: 1000px;
    justify-content: space-around;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow
